<!-- =========== Start of Navigation (main menu) ============ -->
<!-- <header class="navbar navbar-sticky navbar-expand-lg navbar-dark sticky-block" id="navbar"> -->
<header class="navbar navbar-sticky navbar-expand-lg navbar-dark">
    <div class="container position-relative">
        <a class="navbar-brand mr-70" href="/">
            <img class="navbar-brand__regular" src="assets/images/brand-logo-white.png" alt="brand-logo">
            <img class="navbar-brand__sticky" src="assets/images/brand-logo-white.png" alt="sticky brand-logo">
        </a>
        <!--  End of brand logo -->
        <!-- <button class="navbar-toggler d-lg-none" type="button" data-toggle="navbarToggler" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="navbarToggler"
            aria-label="Toggle navigation">
            <i class="fa fa-times navbar-toggler-icon" aria-hidden="true"></i>
        </button>
        <!-- end of Nav toggler -->

        <div class="navbar-inner">
            <!--  Nav close button inside off-canvas/ mobile menu -->
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="navbarToggler"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- end of Nav Toggoler -->
            <nav>
                <ul class="navbar-nav" id="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#reviews">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pricing">Pricing</a>
                    </li>
                </ul>
                <!-- end of nav menu items -->
            </nav>
        </div>
        <div class="flex-row ml-lg-auto d-md-flex mr-70 mr-lg-0 d-none d-sm-inline-block">
            <a href="#" class="btn rounded-full btn--outline btn--sm btn-3d-hover btn-splash-hover ">
                <span class="btn__text">Get started now</span>
            </a>
        </div>
        <!-- end of nav cta button -->
    </div>
    <!-- end of container -->
</header>
<!-- =========== End of Navigation (main menu)  ============ -->