<!-- =========== Start of Footer ============ -->
<footer class="footer position-relative">
    <div class="space border-bottom-light">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-4 col-lg-3 mb-20 mb-lg-0">
                    <span class="mb-20">
                        <a href="#"><img src="assets/images/logo-icon-color.png" alt="logo"></a>
                    </span>
                    <p>xPider is multi concept landing page theme for startups. Build your next landing page with
                        proper variations. Get started now.</p>
                    <ul class="social-lists d-flex mb-0 mt-30">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                    <!-- end of social list -->

                </div>
                <div class="col-6 col-sm-4 col-lg-3 mb-20 mb-sm-0">
                    <div class="footer-widget">
                        <h6 class="mb-20">Company</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Press</a></li>
                            <li><a href="#">Brand Guidelines</a></li>
                        </ul>
                    </div>
                </div>
                <!-- end of col -->
                <div class="col-6 col-sm-4 col-lg-3 mb-20 mb-sm-0">
                    <div class="footer-widget">
                        <h6 class="mb-20">Product</h6>
                        <ul>
                            <li><a href="#">Why xPider?</a></li>
                            <li><a href="#">Enterprise</a></li>
                            <li><a href="#">Customer Stories</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Security</a></li>
                        </ul>
                    </div>
                </div>
                <!-- end of col -->
                <div class="col-6 col-sm-4 col-lg-3 mb-20 mb-sm-0">
                    <div class="footer-widget">
                        <h6 class="mb-20">Adress</h6>
                        <p class="">3674 Harrison Street, <br> San Francisco, 94143, <br> CA, USA.</p>

                        <div class="mt-30 d-flex align-items-start flex-column flex-md-row">

                            <span class="color-primary mr-20 mt-10 mb-10 mb-md-0"><i class="fa fa-envelope-o"
                                    aria-hidden="true"></i></span>

                            <div>
                                <h6>Send us an email</h6>
                                <a href="mailto:email@example.com">
                                    <p>email@example.com</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of col -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container -->
    </div>
    <!-- end of main footer -->
</footer>
<!-- =========== End of Footer ============ -->
